doctype
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE-Edge')
		title worldcup
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width')
		link(rel='stylesheet' href='styles/main.min.css')
	body
		.footie
			section.current
				h1 Current matches
				article.matches_now

			section.today
				h1 Today's matches
				article.matches_today

			section.tomorrow
				h1 Tomorrow's matches
				article.matches_tomorrow

		script(src='scripts/jquery-2.1.1.js')
		script(src='scripts/main.js')