Flask==0.10.1
Flask-Mail==0.9.1
Flask-Redis==0.1.0
Flask-SQLAlchemy==2.1
GitPython==2.0.2
Jinja2==2.8
SQLAlchemy==1.0.12
Werkzeug==0.11.9
arrow==0.7.0
flask-paginate==0.4.1
redis==2.10.5
requests==2.10.0