<div class="matches">
    <div class="match">
        <h3>Match: {{ match.home_team.country }} vs {{ match.away_team.country }}</h3>
        <div class="matchInformation">
            <ul>
                <li>Date: {{ match.datetime|date('Do of MMMM, YYYY - h:mm a') }}</li>
                <li>Location: {{ match.location }}</li>
                {% if match.status == 'completed' %}
                    <li>Result: {{ match.home_team.code }} {{ match.home_team.goals }} - {{ match.away_team.goals }} {{ match.away_team.code }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
