body {
  background: #fafafa;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333; }

li {
  list-style-type: none; }

.footie {
  width: 1200px;
  margin: 0 auto; }

.current, .today, .tomorrow {
  width: 400px;
  float: left; }
