<div class="panel-heading">
    <h3 class="panel-title">
        Match:
        <a href='/team/{{ match.home_team.code }}'>
            {{ match.home_team.country }}
        </a> vs
        <a href='/team/{{ match.away_team.code }}'>
            {{ match.away_team.country }}
        </a>
    </h3>
</div>
<div class="panel-body">
    <ul>
        <li>Date: {{ match.datetime|date('Do of MMMM, YYYY - h:mm a') }}</li>
        <li>Location: {{ match.location }}</li>
        {% if match.status == 'completed' %}
            <li>
                Result:
                <a href='/team/{{ match.home_team.code }}'>
                    {{ match.home_team.code }}
                </a>
                {{ match.home_team.goals }} - {{ match.away_team.goals }}
                <a href='/team/{{ match.away_team.code }}'>
                    {{ match.away_team.code }}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
